@import "variables";

.login-form{
  p{
    padding: 5px 0;
    border-bottom: solid thin;
    border-color: #c0c0c0;
    color: #999999;
    font-weight: 300;
    font-size: 20px;
  }
  input{
    display: block;
    border: none;
    width: 400px;
    border-radius: 10px;
    outline: none;
    padding: 2px 8px;
  }
  .button{
    float:right;
    width: 100px;
    margin-top: 10px;
    margin-right: 20px;
    @include tab {
    margin-right: 80px;
    }
  }
}
